/* src/app/login/login.module.css */
.loginContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  max-height: 80vh;
}

.loginBox {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 80%;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.loginForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.loginForm input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.signInButton, .signUpButton {
  background-color: #8a2d64;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgotPassword {
  margin-left: auto;
  color: #8a2d64;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}
